<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Viewpoint Secure URLs</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.ugwishotelsandsuites.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SubmitBookingServlet</servlet-name>
        <servlet-class>com.ugwishotelsandsuites.SubmitBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitBookingPage</servlet-name>
        <jsp-file>/WEB-INF/fragments/booking-start.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitBookingServlet</servlet-name>
        <url-pattern>/submit-booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitBookingPage</servlet-name>
        <url-pattern>/submit-booking-page</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
